<!DOCTYPE html>
<html>
    <head>
        <title>Baymax</title>
        <style>
            body, html {
                height: 140%;
                width: 100%;
                background-image: url('landing.png');
                background-attachment: scroll;
                background-size: cover;
                overflow: scroll; 
            }
            
            #bimg {
                height: auto;
                width: 60%;
                margin-top: 28%;
                position: fixed;
                margin-left: 20%;
            }

        </style>
    </head>
    <body>

            <img src="baymax.png" id="bimg">
    

    </body>
</html>